body {
  min-width: 1200px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.inner-page {
  background-image: url("../img/backlight.png");
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a:hover {
  color: #ffbc9e;

  border-bottom-color: #ffbc9e;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="radio"] {
  display: none;
}

textarea,
input {
  width: 337px;
  padding: 10px 15px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;

  background-color: #fff;
  border: 0;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 0 1px #d3d3d2;
}

textarea:hover,
input:hover {
  box-shadow: 0 0 0 2px #c7c6c5;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 2px #8fbdec;
}

input[type="text"] + label,
input[type="password"] + label,
input[type="search"] + label,
textarea + label {
  position: absolute;
  left: 13px;
  top: 10px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  pointer-events: none;
}

input[type="text"]:focus + label,
input[type="password"]:focus + label,
input[type="search"]:focus + label,
input[type="text"]:valid + label,
input[type="password"]:valid + label,
input[type="search"]:valid + label,
textarea:focus + label,
textarea:valid + label {
  top: -16px;

  font-size: 11px;
  line-height: 13px;
  font-weight: 400;

  pointer-events: auto;
}

input[type="text"]:focus + label,
input[type="password"]:focus + label,
input[type="search"]:focus + label,
textarea:focus + label {
  color: #5b9ddf;
}

.input-container {
  position: relative;
}

.site-wrapper {
  min-width: 1200px;

  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
          transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
  background-image: url("../img/ice-cream1.png");
}

.site-wrapper::after {
  background-image: url("../img/ice-cream2.png");
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  padding-top: 10px;
}

.index-logo,
.inner-logo {
  float: left;
  width: 153px;
  height: 63px;
  margin-left: -5px;
  margin-right: 16px;

  border: none;
}

.index-logo img,
.inner-logo img {
  width: 153px;
  height: 63px;
}

.main-navigation {
  float: left;
  width: 800px;
}

.main-menu {
  margin: 0;
  margin-top: 10px;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-menu-item {
  position: relative;

  display: inline-block;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
}

.main-menu-item > a {
  display: block;
  padding: 8px 14px;

  border: none;
  border-radius: 20px;
}

.main-menu-item:not(.main-menu-active) > a::after {
  content: "";

  position: absolute;
  right: 14px;
  bottom: 7px;
  left: 14px;

  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-menu-item:hover > a {
  color: #333333;

  background-color: #f7f6f3;
}

.main-menu-item:active > a {
  color: #333333;

  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

.main-menu-active > a {
  background-color: #d07058;
}

.sub-menu-container {
  display: none;
  padding-top: 5px;
}

.main-menu-item:hover .sub-menu-container {
  display: block;
}

.sub-menu {
  position: absolute;
  top: 100%;
  z-index: 30;
  left: -7px;

  width: 143px;
  margin: 0;
  padding: 0;

  list-style: none;
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.sub-menu-item a {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 6px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;

  border: 0;
}

.sub-menu-new {
  position: relative;
}

.sub-menu-new a {
  font-weight: 700;
  margin-bottom: 10px;
}

.sub-menu-new::after {
  content: "";

  position: absolute;
  left: 6px;
  bottom: -6px;
  right: 6px;

  height: 1px;

  background-color: #d1d0ce;
}

.sub-menu-item:hover a {
  background-color: #fbded8;
}

.sub-menu-active a {
  color: #ffffff;

  background-color: #d07058;
}

.sub-menu-item:active a {
  background-color: #f6b5a5;
}

.sub-menu-active:hover a {
  background: #d07058;
}

.header-info {
  float: right;
  max-width: 300px;
  padding-top: 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: top;
}

.user-block {
  margin-bottom: 20px;

  font-size: 0;
}

.decoration {
  padding: 8px 16px;

  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: none;
}

.user-block .decoration {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-block .decoration:hover {
  color: #323232;

  background-color: #ffffff;
}

.user-block > div {
  position: relative;

  display: inline-block;
  margin-right: 10px;

  font-size: 0;
  vertical-align: top;
}

.user-block > div:last-child {
  margin-right: 0;
}

.user-block .search {
  padding: 16px 16px;

  font-size: 0;
}

.user-block .search::before {
  content: "";

  position: absolute;
  top: -1px;
  left: 8px;

  width: 20px;
  height: 19px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -443px;
}

.user-block .login {
  padding-left: 44px;
}

.user-block .login::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 16px;

  width: 20px;
  height: 19px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -385px;
}

.user-block .cart {
  padding-left: 44px;
  padding-right: 34px;
}

.user-block .cart::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 16px;

  width: 20px;
  height: 19px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -213px;
}

.user-block .search:hover::before {
  content: "";

  position: absolute;
  top: 0;
  left: 9px;

  width: 20px;
  height: 19px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -470px;
}

.user-block .login:hover::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 16px;

  width: 20px;
  height: 19px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -414px;
}

.user-block .cart:hover::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 16px;

  width: 20px;
  height: 19px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -273px;
}

.hidden-form {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 30;

  display: none;
  padding-top: 8px;
}

.hidden-form input + label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.user-block-find {
  font-size: 14px;
}

.user-block-find .hidden-form {
  padding-top: 12px;
}

.user-block-find form {
  padding: 20px 15px;

  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.user-block-find input {
  width: 311px;
  padding: 10px 15px;
}

.user-block-account form {
  padding: 20px;
  padding-right: 17px;
  padding-bottom: 22px;

  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.user-block-account input {
  width: 210px;
  margin-bottom: 20px;
  margin-right: 0;
}

.enter-block .btn {
  float: left;

  width: 102px;
  margin-right: 18px;
  padding: 10px 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.enter-block a {
  display: inline-block;
  margin-right: 0px;
  margin-top: 4px;
  margin-bottom: 4px;

  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  color: #323232;
  vertical-align: top;

  border-bottom: 1px solid #adacaa;
}

.enter-block a:hover {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.user-block-div:hover .hidden-form {
  display: block;
}

.header-contact {
  text-align: right;
}

.header-contact p {
  margin-bottom: 5px;
}

.header-contact .tel {
  margin: 0;

  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.slider {
  position: relative;

  margin-bottom: 40px;
  padding-top: 276px;

  text-align: center;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
}

.btn {
  display: inline-block;
  padding: 10px 20px;

  font-weight: 700;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: #f26843;
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background-image:         linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
  color: #ffffff;

  background: #f58669;
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
  border: none;
}

.btn:active {
  background-image: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.slider .btn {
  padding: 10px 40px;
  max-width: 280px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 100px;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  height: 17px;
  width: 17px;
  margin-right: 8px;

  vertical-align: top;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.banners {
  margin-bottom: 40px;
}

.banner-title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banner-left {
  float: left;
  width: 520px;
  padding: 20px;
  padding-top: 17px;
  padding-bottom: 22px;

  background: #9c1a36 url("../img/raspberries.jpg") no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.banner-right {
  float: right;
  width: 520px;
  padding: 20px;
  padding-top: 17px;
  padding-bottom: 22px;

  background: #4e3225 url("../img/chocolate.jpg") no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.banners p {
  min-height: 88px;
  margin: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.banners .btn {
  float: right;
  padding: 11px 22px;

  font-size: 18px;
  line-height: 24px;
  text-shadow: none;

  background: #f16742;
  background-image: -webkit-linear-gradient(top, #f16742 0%, #e54a36 100%);
  background-image:         linear-gradient(to bottom, #f16742 0%, #e54a36 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
}

.banners .btn:hover {
  background: #f58669;
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 1px 2px #ac1000;
}

.banners .btn:active {
  background-image: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  position: relative;
  display: inline-block;
  z-index: 3;

  width: 267px;
  margin-right: 26px;
  margin-bottom: -15px;

  text-align: center;
  vertical-align: top;
}

.catalog-item-overlay {
  position: absolute;
  left: -7px;
  top: -5px;
  z-index: 2;

  display: none;
  width: 105%;
  min-height: 106%;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  z-index: 10;
}

.catalog-item:hover .catalog-item-overlay{
  display: block;
}

.catalog-item-preview {
  position: relative;
  z-index: 3;

  margin-bottom: 0;
}

.catalog-item img {
  width: 267px;
  height: 267px;

  border-radius: 50%;
  overflow: hidden;
}

.hits::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;

  display: block;
  width: 60px;
  height: 60px;

  text-indent: -1000px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -85px;
  overflow: hidden;
}

.catalog-item-preview .price {
  position: absolute;
  left: 0px;
  bottom: 20px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-preview .rouble-icon {
  display: inline-block;

  width: 30px;
  height: 35px;
  margin-top: 6px;
  margin-left: 4px;
  margin-right: 3px;

  font-size: 0;
  vertical-align: top;

  background: url("../img/sprite.png") no-repeat 50% 50%;
  background-position: -5px -636px;
}

.catalog-item-preview .kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.item-title {
  position: relative;
  z-index: 3;

  min-height: 44px;
  margin: 0;
  padding: 0 6px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.item-title a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.catalog-item .btn {
  position: relative;
  z-index: 3;

  margin-top: 11px;
  padding: 10px 13px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  visibility: hidden;
}

.catalog-item:hover .btn {
  visibility: visible;
}

.features {
  padding: 25px 20px;
  padding-right: 3px;
  margin-bottom: 40px;

  background: #ebdec2 url("../img/waffer-pattern-2.jpg") repeat;
  background-size: 60%;
  border-radius: 15px;
}

.features-title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-item {
  position: relative;

  float: left;
  max-width: 479px;
  min-height: 78px;
  margin: 0;
  margin-right: 31px;
  padding: 0;
  padding-left: 56px;
  padding-top: 10px;

  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.features-item:nth-of-type(2n) {
  margin-right: 0;
}

.features-item::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 47px;
  height: 47px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -156px;
}

.features-cow::before {
  background-position: -5px -5px;
}

.features-leaf::before {
  background-position: -5px -579px;
}

.features-thermometer::before {
  background-position: -5px -682px;
}

.index-content {
  margin-bottom: 40px;
}

.index-content-left {
  float: left;
  width: 520px;
  padding: 24px 20px;
  padding-bottom: 79px;

  background-color: #ffffff;
  background-image: url("../img/background-news.jpg");
  border-radius: 15px;
}

.index-content-left .title {
  margin-bottom: 5px;

  font-weight: 500;
  line-height: 22px;
  color: #323232;
}

.index-content-left a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;

  border: none;
}

.index-content-left a:hover {
  color: #ffbc9e;

  border-bottom-color: #ffbc9e;
}

.index-content-right {
  float: right;
  padding: 5px;

  background-color: #ffffff;
  background-image: url("../img/mail-pattern.jpg");
  border-radius: 15px;
}

.index-content-right .subscribe {
  width: 510px;
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 35px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.index-content-right p {
  min-height: 101px;
  margin: 0;
}

.index-content-right form {
  position: relative;
}

.index-content-right input {
  margin-right: 0;
}

.index-content-right label {
  left: 13px;
  top: 10px;
}

.index-content-right .btn {
  float: right;
  max-width: 132px;
  padding: 10px 18px;

  font-size: 18px;
  line-height: 24px;
}

.search-map {
  position: relative;

  min-height: 304px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: -2px;
  padding: 62px 0;

  color: #323232;

  background-color: #ece5c9;
  background-image: url("../img/map_v_pin.jpg");
}

.search-map-contacts {
  position: relative;
  right: 0;
  top: 0;
  z-index: 10;

  float: right;
  width: 253px;
  min-height: 242px;
  padding: 25px;
  padding-top: 28px;
  padding-bottom: 33px;

  background-color: #ffffff;
  bottom: 63px;
  border-radius: 15px;
}

.search-map-contacts p {
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 20px;
}

.search-map-contacts span {
  display: block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.search-map-contacts .tel {
  display: block;
  margin-top: 5px;
  margin-bottom: 2px;

}

.search-map .btn {
  width: auto;
  padding: 10px 28px;

  font-size: 18px;
  line-height: 24px;
}

.yandex-map {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

.main-footer {
  padding: 20px 0;
}

.main-footer p {
  padding: 0;
  margin: 0;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 46px;

  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin-right: 13px;
  margin-top: 16px;

  font-size: 0;
  vertical-align: top;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -6px -497px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.social-btn:hover {
  border-color: rgba(255, 255, 255, 0.71);

  opacity: 1;
}

.social-btn:active {
  box-shadow: inset 0 2px 1px #888888;
}

.social-btn-in {
  background-position: -5px -344px;
}

.social-btn-fb {
  background-position: -5px -303px;
}

.social-btn-vk {
  background-position: -5px -538px;
}

.footer-info {
  display: inline-block;
  margin-top: 11px;
  margin-left: 90px;

  vertical-align: top;
}

.footer-info a {
  font-size: 13px;
  line-height: 18px;
  white-space: nowrap;
}

.left-column {
  float: left;
  max-width: 135px;
  padding-left: 22px;
}

.right-column {
  float: right;
  max-width: 165px;
  margin-left: 5px;
}

.for-providers {
  font-weight: 700;
  position: relative;
}

.for-providers::before {
  content: "";

  position: absolute;
  left: -22px;
  top: 2px;

  width: 15px;
  height: 13px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -62px;
}

.footer-copyright {
  float: right;
  max-width: 264px;
  padding: 0;
  margin: 0;
}

.copyright-logo {
  width: 108px;
  height: 39px;
  margin-left: 2px;
  margin-bottom: -2px;

  border: 0;
}

.copyright-logo img {
  width: 108px;
  height: 39px;
}

.footer-copyright a,
.footer-copyright p {
  margin-top: -3px;

  font-size: 12px;
  line-height: 18px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0% , 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0% , 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-content {
  position: fixed;
  z-index: 50;
  top: 120px;
  left: 50%;

  display: none;
  width: 430px;
  margin-left: -239px;
  padding: 16px 24px;
  padding-bottom: 25px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.modal-content-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 17px;
  height: 17px;

  font-size: 0;

  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -2px;

  width: 23px;
  height: 2px;

  background: #060606;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-content-title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.modal-content input {
  width: 240px;
  margin-bottom: 20px;
  padding: 9px 14px;
}

.modal-content textarea {
  width: 396px;
  height: 134px;
  margin-bottom: 20px;

  resize: none;
}

.modal-content button[type="submit"] {
  float: right;
  padding-right: 24px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 24px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.modal-overlay-show {
  display: block;
}

.user-block-buy .full-cart {
  padding-right: 16px;

  color: #323232;

  background: #ffffff;
}

.user-block-buy .full-cart::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 16px;

  width: 20px;
  height: 19px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -243px;
}

.user-block-buy .full-cart:hover::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 16px;

  width: 20px;
  height: 19px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -243px;
}

.shopping-list {
  padding: 20px 16px;

  font-size: 13px;
  line-height: 16px;
  vertical-align: top;
  color: #323232;

  background: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border-collapse: collapse;
}

.shopping-list table {
  width: 508px;

  border-bottom: 1px solid #cacac7;
}

.shopping-list tr {
  height: 51px;
}

.shopping-list td {
  padding-right: 3px;
  padding-top: 5px;

  vertical-align: top;
}

.shopping-list td:first-child {
  padding-right: 6px;
}

.shopping-list td:nth-child(2) {
  padding-top: 0px;
  padding-bottom: 10px;
}

.shopping-list td:nth-child(3) {
  width: 225px;
  padding-right: 20px;
}

.shopping-list .value {
  color: #999999;
}

.shopping-list img {
  border-radius: 50%;
}

.delete-item {
  position: relative;

  width: 10px;
  height: 10px;

  font-size: 0;

  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.delete-item::before,
.delete-item::after {
  content: "";

  position: absolute;
  top: 5px;
  right: -1px;
  z-index: 1;

  width: 14px;
  height: 1px;

  background: #515050;
}

.delete-item::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.delete-item::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.shopping-list .sum {
  text-align: right;
}

.shopping-list .btn {
  padding-left: 13px;
  padding-right: 15px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.shopping-list p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.footer-info .shopping-list {
  position: absolute;

  display: none;
}

.breadcrumbs {
  margin: 0;
  margin-top: -22px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  display: inline;
  margin-right: 18px;

  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li::after {
  content: "»";

  position: absolute;
  top: 0;
  right: -10px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs .current::after {
  display: none;
}

.page-title {
  margin: 0;
  margin-bottom: 28px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filters {
  margin-bottom: 26px;

  font-size: 0;
}

.filters fieldset,
.filters button {
  display: inline-block;
  margin: 0;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;

  font-size: 16px;
  vertical-align: top;

  border: 0;
}

.filters select,
.filters button {
  color: #ffffff;

  outline: none;
}

.filters legend {
  margin-left: 16px;

  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
}

.filter-label::before {
  content: "";

  position: absolute;

  box-shadow: 0 0 0 1px #ffffff;
}

.filter-label:hover::before {
  box-shadow: 0 0 0 2px #ffffff;
}

.filters input:disabled + .filter-label {
  opacity: 0.4;

  pointer-events: none;
}

.select-filter select {
  padding-left: 11px;
  padding-right: 15px;
}

.select-filter select:hover {
  color: #323232;

  background-color: #ffffff;
}

.range-filter {
  width: 218px;
}

.range-filter input {
  width: 25px;
  padding: 0;
  margin-left: 4px;
  margin-right: 3px;

  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  color: #ffffff;

  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

.range-filter input:hover {
  box-shadow: none;
}

.range-filter input:focus {
  box-shadow: none;
}

.range-controls {
  position: relative;

  padding: 16px;
  padding-right: 14px;
}

.range-controls .scale {
  height: 4px;

  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 70%;
  height: 4px;

  background: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;

  width: 20px;
  height: 20px;

  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .min-toggle {
  left: 37px;
}

.range-controls .max-toggle {
  left: 133px;
}

.range-controls .toggle:hover {
  box-shadow: 0 0 0 2px #ffffff;
}

.radio-filter input[type="radio"] {
  display: none;
}

.filter-greasiness {
  position: relative;

  margin-right: 17px;
  padding-left: 30px;

  cursor: pointer;
}

.filter-greasiness:last-child {
  margin-right: 0;
}

.radio-filter input[type="radio"] + .filter-greasiness::before {
  position: absolute;
  top: 1px;
  left: 0;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  background: transparent;
}

.radio-filter input[type="radio"]:checked + .filter-greasiness::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 3px;

  width: 12px;
  height: 12px;

  border-radius: 50%;
  background: #ffffff;
}

.checkbox-filter input[type="checkbox"] {
  display: none;
}

.filter-filler {
  position: relative;

  margin-right: 20px;
  padding-left: 30px;

  cursor: pointer;
}

.filter-filler:last-child {
  margin-right: 0;
}

.checkbox-filter input[type="checkbox"] + .filter-filler::before {
  position: absolute;
  top: 1px;
  left: 0;

  width: 18px;
  height: 18px;

  border-radius: 3px;
  background: transparent;
}

.checkbox-filter input[type="checkbox"]:checked + .filter-filler::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 3px;

  width: 9px;
  height: 4px;

  background: transparent;
  border: 3px solid #ffffff;
  border-top: 0;
  border-right: 0;

  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filters button {
  box-shadow: inset 0 0 0 2px #ffffff;

  padding: 8px 29px;
  margin-top: 20px;
}

.filters button:hover {
  color: #323232;

  background: #ffffff;
  cursor: pointer;
}

.filters button:active {
  background: #eaeaea;
  box-shadow: inset 0 2px 1px #696969;
  border: 0;
}

.catalog-items-container {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

.paginator {
  text-align: right;

  margin-bottom: 30px;
}

.paginator a {
  display: inline-block;
  padding: 4px 9px;
  margin: 0;
  margin-right: 2px;

  text-align: center;
  vertical-align: top;

  border-radius: 50%;
  border: 0;
}

.paginator a:hover {
  color: #ffffff;

  background: rgba(255, 255, 255, 0.2);
}

.paginator .next,
.paginator .prev {
  width: 8px;
  height: 8px;

  margin-top: 8px;
  padding: 0;

  font-size: 0;

  background: transparent;
  border: 2px solid #ffffff;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
}

.paginator .next {
  margin-right: 0;
  margin-left: 10px;

  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.paginator .prev {
  margin-right: 10px;

  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.paginator .next:hover,
.paginator .prev:hover {
  background: none;
}

.paginator .active {
  color: #323232;

  background-color: #ffffff;
}

.paginator .active:hover {
  color: #323232;

  background: rgba(255, 255, 255, 1);
}

.paginator .disabled {
  opacity: 0.2;
}

.paginator .disabled:hover {
  cursor: default;
}

.main-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
